body {
  font-family: 'Lora', serif;
}

.recurso {
    font-family: 'Lora', serif;
  display: block;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f0f6ff;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.categoria {
    font-family: 'Lora', serif;
  color: #6c63ff;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.titulo {
    font-family: 'Lora', serif;
  font-size: 1.3em;
  margin: 5px 0;
}

.descripcion {
    font-family: 'Lora', serif;
  color: #555;
  font-size: 1em;
  margin-top: 5px;
}
